
@media only screen and (min-width: 650px){

body{
margin 0;
padding 0;
animation: bgcolor infinite 30s;
}

@keyframes bgcolor{

0%{
	background: #e74c3c;
}
20%{
	background: #2980b9;
}
40%{
	background: #f1c40f;
}
60%{
	background: #8e44ad;
}
80%{
	background: #34495e;
}
100%{
	background: #e74c3c;
}

}
          
#nav {
  margin: 0px;
  padding: 0px;
  background-color: beige;
  height: 13.8%;
  overflow: auto;
}

#nav li a {
  display: block;
  color: #000; 
  padding: 8px 16px;
  text-decoration: none;
}

#nav li a.active {
  background-color: #1e847f;
  color: white;
}

#nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.BasicProfileInfo{
	background-color: lightblue;
}
.EducationSummary{
	background-color: tomato;
}
.WorkExperience{
	background-color: cornflowerblue;
}
.ProgrammingSkills{
	background-color: lightblue;
}
.Interests{
	background-color: cornsilk;
}
.FavoriteSong{
	background-color: royalblue;
}
.FavoriteWebsite{
	background-color: tan;
}
.Projects{
	background-color: violet;
}

ul{
  list-style-type: square;
  font-size: 17px;
}

a:link{
    color:black;
}

a:hover {
  color:yellow;
}

.jumbotron {
   height:300px;
   width: 100%;
   background-image: url("https://www.mountsinai.org/files/MSHealth/Assets/Media/final/new-york-city-											brooklyn-bridge-2.jpg");
   background-size: cover;
   color: white;
   text-align:center;
   background-position: center center;
   padding-bottom: 0;
                
}
  
div{
  padding:10px 16px;
}

h1, h2{
	text-align:center;
}



}
